body {
  background: linear-gradient(90deg, #2d178d 0%, #145699 100%);
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.container {
  max-width: 850px;
  margin: 15px auto 0 auto;
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
}

h1,
h2,
h3,
h4 {
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
}

h4 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

form {
  width: 100%;
  margin-top: 30px;
}

.form-group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.form-group:not(:first-child) {
  margin-top: 12px;
}

input,
select {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 16px 18px;
  color: #fff;
  border-style: solid;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.45);
}

select {
  appearance: unset;
}

select option {
  color: #000;
}

input::placeholder {
  color: #fff;
}

.close {
  color: #fff;
  width: 43px;
  height: 43px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 16px 18px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.button:active {
  transform: translateY(1px);
}

.button-text {
  z-index: 10;
}

.add-new {
  margin-right: 12px;
}

.buttons-group {
  margin-top: 12px;
}

input,
select,
button {
  outline-color: #fff;
  outline-offset: 4px;
  outline-width: 1px;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 14px;
}

thead > tr > th {
  border-bottom: 1px solid #d3d3d3;
  color: #fff;
  font-weight: 700;
  padding: 16px 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

tbody > tr > td,
tfoot > tr > td {
  border-bottom: 1px solid #d3d3d3;
  color: #fff;
  padding: 16px 18px;
}

tbody > tr:hover {
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

tbody > tr > td:first-child {
  text-align: right;
}

tbody > tr > td:not(:first-child) {
  text-align: center;
}

tfoot > tr > td:first-child {
  text-align: right;
}

.when-error {
  color: #fff;
}

.when-error p,
.when-error ol {
  font-size: 18px;
  line-height: 24px;
}

.when-error ol {
  margin: 0;
}

footer {
  color: #fff;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

footer a {
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d178d;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 16px;
}

@media screen and (max-width: 640px) {
  input {
    width: 100%;
  }

  select {
    width: calc(100% - 60px);
  }

  select.form-select {
    width: 100%;
  }

  .form-group:not(:first-child),
  .buttons-group {
    margin-top: 32px;
  }

  .when-success {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 450px) {
  .button {
    width: 100%;
  }

  .add-new {
    margin-bottom: 12px;
  }
}

@media print {
  footer,
  form,
  h1.success-heading,
  .buttons-group {
    display: none;
  }
}
