body {
  background-color: #f1f1f1;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.container {
  background-color: white;
  max-width: 850px;
  margin: 0 auto;
  padding: 10px 25px;
}
h1 {
  color: #3e3a3a;
  margin-bottom: 10px;
  text-align: center;
}
h2 {
  color: #3e3a3a;
}
h3 {
  color: #3e3a3a;
}
h4 {
  color: #444444;
  text-align: center;
}
form {
  width: 100%;
}
.form-group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px 0;
}
input,
select {
  color: #403a3a;
  background-color: #ffff;
  border-color: #f1f1f1;
  border-radius: 0;
  border-style: solid;
  outline: none;
  padding: 12px;
}
.close {
  background-color: #eb453d;
  border-color: #eb453d;
  border-style: solid;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}
.button {
  border-color: #f1f1f1;
  border-radius: 0;
  border-style: solid;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 1.8px;
  outline: none;
  padding: 12px 14px;
  position: relative;
  text-transform: uppercase;
}
.button:active {
  transform: translateY(1px);
}
.button-text {
  z-index: 10;
}
.add-new {
  background-color: #1e4797;
  color: white;
  box-shadow: inset 0 0 0 0 #2465e7;
  transition: all ease-in-out 500ms;
}
.add-new:hover {
  box-shadow: inset 220px 0 0 0 #2465e7;
}
.calculate {
  background-color: #3c8741;
  color: white;
  box-shadow: inset 0 0 0 0 #6dc173;
  transition: all ease-in-out 500ms;
}
.calculate:hover {
  box-shadow: inset -220px 0 0 0 #6dc173;
}
.mt-10 {
  margin-top: 10px;
}

table {
  width: 100%;
}
thead > tr > th {
  border-bottom: 1px solid #d3d3d3;
  color: #3e3a3a;
  font-weight: 800;
  padding: 8px 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
tbody > tr > td,
tfoot > tr > td {
  border-bottom: 1px solid #d3d3d3;
  color: #403a3a;
  padding: 14px 0;
}
tbody > tr > td:first-child {
  text-align: right;
}
tbody > tr > td:not(:first-child) {
  text-align: center;
}
tfoot > tr > td:first-child {
  text-align: right;
}

.error {
  color: #d32f27;
}
.when-error {
  color: #2e2e2e;
}
footer {
  color: #606060;
  font-weight: 800;
  margin-top: 50px;
  text-align: center;
}
a {
  color: #606060;
}
@media screen and (max-width: 640px) {
  input {
    width: 100%;
    border-radius: 20px;
  }
  select {
    width: calc(100% - 40px);
    border-radius: 20px;
  }
  select.form-select {
    width: 100%;
  }
  .form-group:not(:first-child) {
    margin-top: 27px;
  }
  .button {
    border-radius: 20px;
  }
}

@media screen and (max-width: 390px) {
  .button {
    width: 100%;
  }
}

@media print {
  footer,
  form,
  h1.success-heading,
  .buttons-group {
    display: none;
  }
  .mt-10 {
    margin-top: 0;
  }
}
